<script>
	$(function(){
		$('tr.message').click(function(){
			window.location.href = $(this).data('href')
		})	
	})
</script>
<div class="container">
	<div class="messages-wrapper">
		<h2><%= t('messages.message') %></h2>
		<a id="mark-read" class="btn btn-warning" onclick="Messages.mark_all_as_read(this,event)"><%= t('messages.mark_all_read') %></a>
		<table class="table table-hover messages">
			<% @messages.each do |m| %>
			<tr class="message <%= 'unread' if m.is_read == false %>" data-href="<%= message_path(m) %>" >
				<td width="5%" class="message-user-thumb"><%= image_tag m.from.avatar %></td>
				<td width="10%" class="message-user"><%= link_to m.from.nickname, user_path(m.from) %></td>
				<td width="50%" class="message-summary"><%= truncate m.content, length: 30 %></td>
				<td width="20%" class="message-date"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>