<div class="articles-wrapper">
  <div class="article-box">
    <div class="article-title">
      <%= @article.title %>
    </div>
    <div class="article-date">
      <%= @article.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
    <div class="article-body">
      <%= raw @article.body  %>
    </div>
    <div class="movie-actions"> 
      <% if current_user.nil? %>
      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#login-modal">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-heart"></i>
        喜欢
      </a>
      <% else %>
      <a href="#" class="btn btn-default <%= 'liked' if current_user.liked? @article%>"
              data-state="<%= 'liked' if current_user.liked? @article %>"
              data-id="<%= @article.id %>"
              data-count="<%= @article.likes.size %>"
              onclick="Articles.like(this, event)">
          <i class="fa fa-heart-o"></i>
          <i class="fa fa-heart"></i>
        喜欢
      </a>
      <% end %>
      <div class="movie-share">
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_32x32">
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_fb"></a>
          <a class="jiathis_button_weixin"></a>
          <a class="jiathis_button_googleplus"></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1394127006547805" charset="utf-8"></script>
        <script>
        var jiathis_config = {
        title:document.getElementById("movie-title").innerHTML
        }
        </script>
      </div>
<!-- JiaThis Button END -->
    </div>
  </div>
  <div class="comments-wrapper">
    <h2>评论一下吧</h2>
   <div class="comments-new">
     <%= form_for :comment, :url => article_comments_path(@article), :remote => true do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, :rows => '4', :class => 'form-control', :id => "newcomment" %>
      </div>
      <% if user_signed_in? %>
        <%= f.submit '发表评论', :class => 'btn btn-primary pull-right' %>
      <% else %>
        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#login-modal">发表评论</a>
      <% end %>
     <% end %>

   </div>
    <ul class="comments">
      <% @article.comments.each do |c| %>
      <li class=comment>
        <div class="comment-user-avatar">
         <%= gravatar_image_tag(c.user.email, :size => 100) %>
        </div>
        <div class="comment-body">
          <div class="comment-user-nickname">
            <%= link_to c.user.nickname, user_path(c.user)%>
          </div>
          <div class="comment-date">
            <%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
          <div class="comment-content">
            <%= c.comment %>
          </div>

          <div class="comment-actions">
            <!--<i class="fa fa-comment-o"></i>-->
            <i class="fa fa-heart-o"></i>
            <% if c.user == current_user %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="relate-articles">
    <div class="relate-header">热门文章</div>
    <ul class="relates">
      <% @relates.each do |r| %>
        <li class="relate">
          <div class="relate-thumb">
            <img src="<%= r.thumb %>" alt=""/>
          </div>
          <div class="relate-title">
            <a href="<%= article_path(r) %>">
              <%= r.title %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>



