<div class="movies-wrapper">
  <div class="filters-container">
    <div class="filters">
      <div class="filter-header">
        <h2>按区域查看:</h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active">全部</a>
      <% tag_cloud(@locations, %w(css1 css2 css3 css4)) do |location|%>
          <a href="#" class="filter-item" onclick="Movies.search(this)"><%= location.name %></a>
      <% end %>
      </div>
    </div>

    <div class="filters">
      <div class="filter-header">
        <h2>按类型查看:</h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active">全部</a>
        <% tag_cloud(@types, %w(css1 css2 css3 css4)) do |type|%>
            <a href="#" class="filter-item" onclick="Movies.search(this)"><%= type.name %></a>
        <% end %>
      </div>
    </div>
    <div class="filters sort">
      <div class="filter-header">
        <h2>排序:</h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active">最新发布</a>
        <!--<a href="#" class="filter-item">最多评论</a>-->
        <!--<a href="#" class="filter-item">最热推荐</a>-->
      </div>
    </div>
  </div>
  <div class="movies-container">
    <ul class="movies">
      <% @movies.each do |movie| %>
        <li class="movie-item">
          <div class="movie-thumb">
            <a href="<%= movie_path(movie) %>"><%= image_tag(movie.thumb) %></a>
            <div class="overlay"></div>
          </div>
          <div class="movie-title">
            <%= link_to movie.title, movie_path(movie) %>
          </div>
          <div class="movie-tags">
            <% movie.type_list.each do |type| %>
            <span><%= type %></span>
            <% end %>
          </div>
          <div class="movie-count">
            <span><i class="fa fa-comment"></i><%= movie.comments.count %></span>
            <span><i class="fa fa-heart"></i><%= movie.likes.count %></span>
          </div>
        </li>
      <% end %>
      <%= paginate @movies %>
    </ul>
  </div>
</div>