<script>
  $(function(){
    var params = {}
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    if(getParameterByName('location')){
      params['location'] = getParameterByName('location')
    }
    if(getParameterByName('type')){
      params['type'] = getParameterByName('type')
    }
      
    for (key in params){
      $('a[data-filter="'+ key + '"]').removeClass('active')
      $('a[data-filter="'+ key + '"]').each(function(){
        if($(this).data('name') == params[key]){
          $(this).addClass('active')  
        }
      })
    }

    $('a.filter-item').click(function(e){
      e.preventDefault()
      e.stopPropagation()
      var filter = $(this).data('filter')
      var value = $(this).data('name')
      if(value){
        params[filter] = value  
      }else{
        delete params[filter]
      }
      if(Object.keys(params).length === 0){
        window.location.href = "http://" + location.host + '/movies'
      }else{
        window.location.href = "http://" + location.host + '/movies?' + $.param(params)  
      }
    })
  })
</script>
<div class="movies-wrapper">
  <div class="articles-header">
      <h2><%= t('recommends.recommend') %></h2>
    </div>
  <div class="filters-container">
    <div class="ribbon"></div>
    <div class="filters">
      <div class="filter-header">
        <h2><%= t('recommends.filter.area') %></h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active" data-filter="location"><%= t('recommends.filter.all') %></a>
      <% @locations.each do |location|%>
          <a href="#" class="filter-item" data-filter="location" data-name="<%= location %>"><%= location %></a>
      <% end %>
      </div>
    </div>

    <div class="filters">
      <div class="filter-header">
        <h2><%= t('recommends.filter.type') %></h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active" data-filter="type" data-name=""><%= t('recommends.filter.all') %></a>
        <% @types.each do |type|%>
            <a href="#" class="filter-item" data-filter="type" data-name="<%= type %>"><%= type %></a>
        <% end %>
      </div>
    </div>
    <!-- <div class="filters sort">
      <div class="filter-header">
        <h2>排序:</h2>
      </div>
      <div class="filter-wrapper">
        <a href="#" class="filter-item active">最新发布</a> -->
        <!--<a href="#" class="filter-item">最多评论</a>-->
        <!--<a href="#" class="filter-item">最热推荐</a>-->
      <!-- </div>
    </div> -->
  </div>
  <div class="movies-container">
    <div class="ribbon"></div>
    <ul class="movies">
      <% @movies.each do |movie| %>
        <li class="movie-item">
          <div class="movie-thumb">
            <a href="<%= movie_path(movie) %>"><%= image_tag(movie.thumb) %></a>
            <div class="overlay"></div>
          </div>
          <div class="movie-title">
            <%= link_to movie.title, movie_path(movie), :title => movie.title %>
          </div>
          <div class="movie-tags">
            <% movie.type_list.each do |type| %>
            <span><%= type %></span>
            <% end %>
          </div>
          <div class="movie-count">
            <span><i class="fa fa-comment"></i><%= movie.comments.count %></span>
            <span><i class="fa fa-heart"></i><%= movie.likes.count %></span>
          </div>
        </li>
      <% end %>
      <%= paginate @movies %>
    </ul>
  </div>
</div>