<ul class="user-projects-nav">
	<li class="active"><a href="#user-project" data-toggle="tab"><%= t('projects.project_plan') %></a></li>
	<li><a href="#user-ticket" data-toggle="tab"><%= t('home.tickets') %></a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="user-project">
		<%= render 'projects/project_list' %>
	</div>

	<div class="tab-pane" id="user-ticket">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><%= t('projects.desc') %></th>
					<th><%= t('projects.location') %></th>
					<th><%= t('projects.needs') %></th>
					<th><%= t('projects.date') %></th>
					<th><%= t('projects.contact') %></th>
				</tr>
			</thead>
			<tbody>
				<% @tickets.each do |ticket| %>
				<tr>
					<td class="ticket-title">
						<%= ticket.title %>
					</td>
					<td class="ticket-location">
						<%= ticket.location %>
					</td>
					<td class="ticket-needs">
						<% ticket.need_list.each do |tag| %>
							<span class="tag"><%= tag %></span>
						<% end  %>
					</td>
					<td class="ticket-date">
						<%= ticket.updated_at.strftime("%Y-%m-%d %H:%M") %>
					</td>
					<td class="ticket-contact">
						<%= ticket.contact %>
					</td>	
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>