<div id="user-profile">
  <div class="avatar">
    <%= image_tag @user.avatar %>
  </div>
  <div class="nickname"><%= link_to @user.nickname, user_path(@user) %></div>
  <div class="role"><%= @user.role_list.join(' ') %></div>
  <% if @user.location %>
    <div class="location"><i class="fa fa-map-marker"></i><%= @user.location %></div>
  <% end %>
  <div class="about-divider"></div>
  <div class="about">
    <%= @user.about %>
  </div>
  <% if user_signed_in? %>
    <% if current_user != @user %>
    <div class="actions">
      <% if current_user and current_user.following?(@user) %>
      <a href="#" id="follow" class="btn btn-warning followed" data-id="<%= @user.id %>" data-state="followed"><i class="fa fa-minus"></i><span><%= t('users.followed') %></span></a>
      <% else %>
      <a href="#" id="follow" class="btn btn-warning" data-id="<%= @user.id %>" data-state=""><i class="fa fa-plus"></i><span><%= t('users.follow') %></span></a>
      <% end %>
      <a href="#" class="btn btn-info" data-toggle="modal" data-target="#message-modal"><i class="fa fa-comment"></i><%= t('users.chat') %></a>
    </div>
    <% end %>
  <% else %>
    <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-warning"><i class="fa fa-plus"></i><span> <%= t('users.follow') %></span></a>
    <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-info"><i class="fa fa-comment"></i> <%= t('users.chat') %></a>
  <% end %>
</div>
<div id="message-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title"><%= t('dashboard.message_modal.send') %></div>
      </div>
      <div class="modal-body">
        <%= form_for Message.new, :html => { :class => 'form-horizontal'} do |f|%>
          <%= hidden_field_tag 'message[to]', @user.id %>
          <div class="form-group">
            <%= f.text_area :content, :rows => '4', :class => "form-control", :autofocus => true %>
          </div>
          <%= f.submit t('dashboard.message_modal.send'), :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>