<div class="user-wrapper">
  <div id="user-content">
    <ul class="user-nav">
      <li class="active"><a href="#likes" data-toggle="tab"><%= t('dashboard.tab.like') %></a></li>
      <li><a href="#user-projects" data-toggle="tab"><%= t('dashboard.tab.project') %></a></li>
      <li><a href="<%= promotions_path %>"><%= t('dashboard.tab.promote') %></a></li>
      <li><a href="#follows" data-toggle="tab"><%= t('dashboard.tab.follow') %></a></li>
      <li><a href="<%= messages_path %>">
        <% if Message.unread(current_user).count != 0%>
          <%= t('dashboard.tab.message') %> (<%= Message.unread(current_user).count %>)
        <% else %>
          <%= t('dashboard.tab.message') %>
        <% end %></a></li>
    </ul>
    <div class="user-content tab-content">
      <div id="likes" class="tab-pane active">
        <%= render 'likes'%>
      </div>
      <div id="user-projects" class="tab-pane">
        <%= render 'projects' %>
      </div>
      <!-- <div id="promotes" class="tab-pane">
        <%= render 'promotes'%>
      </div> -->
      <div id="follows" class="tab-pane">
        <ul>
          <% @followings.each do |f| %>
            <li>
              <div class="follow-thumb"><a href="<%= user_path(f) %>"><%= image_tag f.avatar %></a></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'profile', :object => @user %>
</div>