<div class="user-wrapper">
  <div id="user-content">
    <ul class="user-nav">
      <li class="active"><a href="#likes" data-toggle="tab">喜欢</a></li>
      <li><a href="#projects" data-toggle="tab">项目</a></li>
      <li><a href="#promotes">推广</a></li>
      <li><a href="<%= messages_path %>">
        <% if Message.unread(current_user).count != 0%>
          消息 (<%= Message.unread(current_user).count %>)
        <% else %>
          消息
        <% end %></a></li>
    </ul>
    <div class="user-content tab-content">
      <div id="likes" class="tab-pane active">
        <%= render 'likes'%>
      </div>
      <div id="projects" class="tab-pane">
        <%= render 'projects'%>
      </div>
      <div id="promotes" class="tab-pane">
        <%= render 'promotes'%>
      </div>
    </div>
  </div>
  <%= render 'profile', :object => @user %>
</div>