<div class="account-settings">
  <div class="account-tabs">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#basic" data-toggle="tab"><%= t('users.edit.basic') %></a>
      </li>
      <li><a href="#avatar" data-toggle="tab"><%= t('users.edit.avatar') %></a></li>
      <li><a href="#password" data-toggle="tab"><%= t('users.edit.password') %></a></li>
      <li><a href="#oauth" data-toggle="tab"><%= t('users.edit.oauth') %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <%= form_for @user, :html => { :class => 'form-horizontal edit-user' } do |f| %>
          <% if @user.errors.any? %>
            <!--<div id="error_explanation">-->
              <!--<ul>-->
                <!--<% @user.errors.full_messages.each do |msg| %>-->
                  <!--<li><%= msg %></li>-->
                <!--<% end %>-->
              <!--</ul>-->
            <!--</div>-->
          <% end %>
        <!--<form class="form-horizontal" role="form">-->
          <div class="form-group">
            <%= f.label :nickname, t('users.edit.nickname'), :class => 'col-sm-2 control-label' %>
            <!--<label for="nickname" class="col-sm-2 control-label">昵称</label>-->
            <div class="col-sm-5">
              <%= f.text_field :nickname, :placeholder => t('users.edit.nickname'), :class => 'form-control' %>
              <!--<input type="text" class="form-control" id="nickname" placeholder="昵称">-->
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, t('users.edit.email'), :class => "col-sm-2 control-label" %>
            <!--<label for="email" class="col-sm-2 control-label">邮箱</label>-->
            <div class="col-sm-5">
              <%= f.text_field :email, :placeholder => t('users.edit.email'), :class => 'form-control' %>
              <!--<input type="email" class="form-control" id="email" placeholder="邮箱">-->
            </div>
          </div>
          <div class="form-group">
            <%= f.label :roles, t('users.edit.role'), :class => 'col-sm-2 control-label' %>
            <%= f.hidden_field :roles, :value => @user.role_list %>
            <div class="col-sm-8">
                <% @roles.each do |role|%>
              <span class="tag <%= 'selected' if @user.role_list.include? role %>"><%= role %></span>
                <% end %>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label"><%= t('users.edit.gender') %></label>
            <div class="col-sm-5">
              <div class="radio-inline">
                <label>
                  <%= f.radio_button :gender, "m" %>
                  <%= t('users.edit.male') %>
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <%= f.radio_button :gender, "f" %>
                  <%= t('users.edit.female') %>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"><%= t('users.edit.location') %></label>
            <div class="col-sm-8">
              <%= f.region_select [:province, :city, :district], province_prompt: t('users.edit.select_province'), city_prompt: t('users.edit.select_city'), district_prompt: t('users.edit.select_district')%>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<label for="about" class="col-sm-2 control-label">身份</label>-->
            <!--<div class="col-sm-6">-->

            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label for="about" class="col-sm-2 control-label"><%= t('users.edit.about') %></label>
            <div class="col-sm-6">
              <%= f.text_area :about, :rows => 5, :cols => 20, :class => 'form-control' %>
              <!--<textarea class="form-control" rows="4"></textarea>-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="" class="btn btn-primary" id="user-save"><%= t('users.edit.save') %></a>
              <!--<button type="submit" class="btn btn-primary pull-right">保存</button>-->
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="avatar">
        <%= form_for @user, :url => update_avatar_user_path(@user), :method => :post, :html => { :class => 'form-horizontal' } do |f| %>
          <%= hidden_field_tag 'user[crop][x1]'  %>
          <%= hidden_field_tag 'user[crop][y1]' %>
          <%= hidden_field_tag 'user[crop][w]'  %>
          <%= hidden_field_tag 'user[crop][h]'%>
          <div class="upload-wrapper">
            <div class="fileUpload btn btn-default" id="upload">
              <span><i class="fa fa-upload"></i><%= t('users.edit.pick') %></span>  
            <%= f.file_field :avatar, :class => "upload", :id => "files", :data => {:max_file_size => 0.5.megabytes} %>
            </div>
            <div id="holder">
              <i class="fa fa-cloud-upload"></i>
              <span><%= t('users.edit.pick_words') %></span>
            </div>
          </div>
          <div class="divider"></div>
          <div class="preview-wrapper">
            <div class="preview icon-180">
              <%= image_tag @user.avatar %>
            </div>
            <p><%= t('users.edit.size_180') %></p>
            <div class="preview icon-50">
              <%= image_tag @user.avatar %>
            </div>
            <p><%= t('users.edit.size_50') %></p>
            <div class="preview icon-30">
              <%= image_tag @user.avatar %>
            </div>
            <p><%= t('users.edit.size_30') %></p>
          </div>
          <div>
            <%= f.submit t("users.edit.update_avatar"), :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="password">
        <%= form_for(@user, :url => password_path(:user), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>

          <div class="form-group">
            <label for="current_password" class="col-sm-2 control-label"><%= t('users.edit.current_password') %></label>
            <div class="col-sm-6">
              <%= f.password_field :current_password, :autofocus => true, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label"><%= t('users.edit.new_password') %></label>
            <div class="col-sm-6">
              <%= f.password_field :password, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label"><%= t('users.edit.new_password_confirmation') %></label>
            <div class="col-sm-6">
              <%= f.password_field :password_confirmation, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit t('users.edit.update_password'), :class => "btn btn-primary"%>
              <!--<button type="submit" class="btn btn-primary pull-right">保存</button>-->
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="oauth">
        <ul>
          <li class="weibo <%= 'bind' if @user.bind?("weibo") %>">
            <i class="fa fa-weibo"></i>
            <a href="<%= user_omniauth_authorize_path(:weibo) %>">
              <%= @user.bind?("weibo") ? t('users.edit.binded') : t('users.edit.bind') %>
            </a>
          </li>
          <li class="facebook <%= 'bind' if @user.bind?("facebook") %>">
            <i class="fa fa-facebook-square"></i>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>">
              <%= @user.bind?("facebook") ? t('users.edit.binded') : t('users.edit.bind') %>
            </a>
          </li>
          <li class="twitter <%= 'bind' if @user.bind?("twitter") %>">
            <i class="fa fa-twitter-square"></i>
            <a href="<%= user_omniauth_authorize_path(:twitter) %>">
              <%= @user.bind?("twitter") ? t('users.edit.binded') : t('users.edit.bind') %>
            </a>
          </li>
          <li class="google <%= 'bind' if @user.bind?("google_oauth2") %>">
            <i class="fa fa-google-plus"></i>
            <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
              <%= @user.bind?("google_oauth2") ? t('users.edit.binded') : t('users.edit.bind') %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="account-preview">
    <div class="avatar">
      <%= image_tag @user.avatar %>
    </div>
    <div class="nickname"><%= @user.nickname %></div>
    <div class="role"><%= @user.role_list.join(' ') %></div>
    <% if @user.location %>
    <div class="location"><i class="fa fa-map-marker"></i><%= @user.location %></div>
    <% end %>
    <div class="about-divider"></div>
    <div class="about">
      <%= @user.about %>
    </div>
    <div class="actions">
      <a href="#" class="btn btn-warning"><i class="fa fa-plus"></i><%= t('users.follow') %></a>
      <a href="#" class="btn btn-info"><i class="fa fa-comment"></i><%= t('users.chat') %></a>
    </div>
  </div>
</div>
