<div class="user-wrapper">
  <div id="user-content">
    <ul class="user-nav">
      <li class="active">
        <a href="#likes" data-toggle="tab"><%= t('dashboard.tab.like') %></a>
      </li>
      <li>
        <a href="#user-projects" data-toggle="tab"><%= t('dashboard.tab.project') %></a>
      </li>
    </ul>
    <div class="user-content tab-content">
      <div id="likes" class="tab-pane active">
        <%= render 'likes' %>
      </div>
      <div id="user-projects" class="tab-pane">
        <%= render 'projects' %>
      </div>
    </div>
  </div>
  <%= render 'profile', :object => @user %>
</div>