<div class="container-fluid">
  <div id="vm-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#vm-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#vm-carousel" data-slide-to="1"></li>
      <li data-target="#vm-carousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <img src="<%= @siteConfig['banner1'] %>" alt="">
          <div class="carousel-caption"></div>
      </div>
      <div class="item">
        <img src="<%= @siteConfig['banner2'] %>" alt="">
        <div class="carousel-caption"></div>
      </div>
      <div class="item">
          <img src="<%= @siteConfig['banner3'] %>" alt="">
          <div class="carousel-caption"></div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#vm-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#vm-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div id="content">
    <div class="left-col">
      <div class="recommend">
        <h2><i class="fa fa-thumbs-o-up"></i><a href="<%= movies_path %>">特别推荐</a></h2>
        <ul class="video-list clearfix mb30">
          <% @recommends.each do |movie| %>
            <li class="video">
              <div class="list-image">
                <a href="<%= movie_path(movie) %>" class="work-img" target="_blank">
                  <%= image_tag movie.thumb %>
                </a>
              </div>
              <div class="list-desc">
                <a href="<%= movie_path(movie) %>" class="overdot work-title" target="_blank"><%= movie.title %></a>
              </div>
              <div class="list-ribbon"></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="festival">
        <h2><i class="fa fa-video-camera"></i><a href="<%= events_path%>?type=电影节">电影节精选</a></h2>
        <% unless @selections.empty? %>
        <div class="poster-wrapper">
          <div class=" poster-left poster">
            <img src="<%= @selections.first.thumb %>" alt="">
            <div class="contenthover">
              <h3>《玛丽的自然卷世界》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div class="poster-right-up poster">
            <img src="<%= @selections.second.thumb %>" alt="">
            <div class="contenthover">
              <h3>《梦幻岛的天气预报员》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div class="poster-right-bottom poster">
            <img src="<%= @selections.third.thumb %>" alt="">
            <div class="contenthover">
              <h3>《被超人绑架的爸爸》</h3>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
              <p><a href="#" class="mybutton">Lorem ipsum</a></p>
            </div>
          </div>
          <div></div>
        </div>
        <% end %>
      </div>
      <div class="ongoing">
        <h2><i class="fa fa-clock-o"></i><a href="<%= projects_path %>">正在进行的项目</a></h2>
        <ul class="ongoing-filter">
          <!-- <li class="active"><a href="#">拍摄计划</a></li>
          <li><a href="#">一句话项目</a></li> -->
        </ul>
        <div class="project-list">
          <% @projects.each do |project| %>
          <div class="project">
            <div class="project-card-wrap">
              <div class="project-card">
                <div class="project-thumbnail">
                  <a href="<%= project_path(project) %>" target="">
                    <% if project.cover.blank? %>
                    <img alt="Photo-little" class="projectphoto-little" height="150" src="https://d297h9he240fqh.cloudfront.net/assets/projects/missing_little.png" width="180">
                    <% else %>
                    <%= image_tag project.cover, :width => 180, :class => "projectphoto-little" %>
                    <% end %>
                  </a>
                </div>
                <h2 class="bbcard_name">
                  <strong>
                    <a href="<%= project_path(project) %>" target=""><%= project.title %></a>
                  </strong>
                  <span>
                  <%= link_to project.user.nickname, user_path(project.user) %>
                  </span>
                </h2>
                <p class="bbcard_blurb">
                  <%= project.description %>
                </p>
                <ul class="project-meta">
                  <li>
                    <span class="fa fa-map-marker"></span>
                    <span class="location-name"><%= project.location %></span>
                  </li>
                </ul>
                <div class="project-pledged-successful" style="display: none;">
                  <strong>Successful!</strong>
                </div>
                <div class="project-pledged-wrap">
                  <div class="project-pledged" style="width: 100%"></div>
                </div>
                <ul class="project-stats">
                  <li class="pledged">
                    <strong><span class="money usd no-code"><%= project.budget %>万</span></strong>
                  预算
                  </li>
                  <li class="pledged">
                    <strong><span class="money usd no-code"><%= (project.start_at.to_date - Date.current).to_i unless project.start_at.blank? %></span></strong>
                  天后开始拍摄
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="news shadowbox feeds">
        <ul>
          <h1>最新资讯
            <a href="<%= articles_path %>" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <% @articles.each_with_index do |article, i| %>
          <li>
            <span><%= i + 1%></span>
            <a href="<%= article_path(article) %>" title="<%= article.title %>" target="_blank"><%= article.title %></a>
            <em><%= article.updated_at.strftime('%m-%d') %></em>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="news shadowbox events">
        <ul>
          <h1>最新活动
            <a href="<%= events_path %>" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <% @events.each do |event| %>
          <li>
            <a class="rmhdimg" href="<%= event_path(event) %>" title="" target="_blank">
              <img src="<%= event.thumb %>" width="105" height="80" alt="">
            </a>
            <div class="rmhdcont">
              <p>
                <a href="<%= event_path(event) %>" title="<%= event.title %>" target="_blank"><%= event.title %></a>
              </p>
              <a class="rmhdcona btn" href="<%= event_path(event) %>" target="_blank">查看更多</a>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="news shadowbox mini-project">
        <ul>
          <h1>一句话项目
            <a href="<%= projects_path %>" target="_blank"><i class="fa fa-chevron-right"></i></a>
          </h1>
          <% @tickets.each do |ticket| %>
          <li>
            <span><%= image_tag ticket.user.avatar%></span>
            <a href="<%= ticket_path(ticket) %>" class="fancybox"><%= ticket.title %></a>
            <em><%= ticket.city %></em>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
 <div id="footer-wrapper">
   <div id="footer-inner">
     <div id="footer-partners-wrapper">
       <h3>Our partners</h3>
       <div id="footer-partners-inner">
         <div id="footer-partners">
           <ul class="bx-slider">
             <li>
               <a href="http://www.zouba123.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/10/zouba_406810305_11_31_logo.jpg">
               </a>
             </li>

             <li>
               <a href="http://www.nuandao.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai&amp;utm_content=260x130" target="_blank">
                 <img src="http://www.fqpai.com/img/nuandaologo.jpg">
               </a>
             </li>


             <li>
               <a href="http://mall.boluopai.cn" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2014/03/bolo_03_22-04_22.jpg">
               </a>
             </li>


             <li>
               <a href="http://tinyear.tmall.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/tin2.jpg">
               </a>
             </li>


             <li>
               <a href="http://joyce2010.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/12191920logo_09_03.jpg">
               </a>
             </li>
             <li>
               <a href="http://shadilan.tmall.com/?spm=a1z10.1.0.0.e2aPve" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/11/2351136901_12_13_logo.jpg">
               </a>
             </li>


             <li>
               <a href="http://wanqianxiangshui.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/794792201_12_5_logo.jpg">
               </a>
             </li>


             <li>
               <a href="http://huodong.maimai.taobao.com/go/activities/cdn/page/1000068033/24914/viewPag.html" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/307748848_10_11.png">
               </a>
             </li>


             <li>
               <a href="http://www.yetang.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/09/yetanglogo.jpg">
               </a>
             </li>


             <li>
               <a href="http://xiaobao2046.taobao.com/?xn=fqpai" target="_blank">
                 <img src="http://www.fqpai.com/img/xiaobaologo_10-27_11-27.jpg">
               </a>
             </li>


             <li>
               <a href="http://www.zouba123.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/10/zouba_406810305_11_31_logo.jpg">
               </a>
             </li>

             <li>
               <a href="http://www.nuandao.com/?utm_campaign=campaign1&amp;utm_medium=banner&amp;utm_source=fqpai&amp;utm_content=260x130" target="_blank">
                 <img src="http://www.fqpai.com/img/nuandaologo.jpg">
               </a>
             </li>
             <li>
               <a href="http://mall.boluopai.cn" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2014/03/bolo_03_22-04_22.jpg">
               </a>
             </li>
             <li>
               <a href="http://tinyear.tmall.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/tin2.jpg">
               </a>
             </li>
             <li>
               <a href="http://joyce2010.taobao.com" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/08/12191920logo_09_03.jpg">
               </a>
             </li>
             <li>
               <a href="http://shadilan.tmall.com/?spm=a1z10.1.0.0.e2aPve" target="_blank">
                 <img src="http://www.fqpai.com/wp-content/uploads/2013/11/2351136901_12_13_logo.jpg">
               </a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>