<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>普魔客</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body class="theme-m">
<div id="marketing_banner">
<div class="marketing_banner"><div class="go_btna"><a data-toggle="modal"
                      data-target="#promote-modal"
                      data-backdrop="static"
                      data-keyboard="false">開始推廣</a></div></div>
</div>
<div id="marketing_case">
<div class="marketing_case clear_float">
        <div class="marketing_case_left mar_left"><img src="<%= asset_path('marketing_img.jpg') %>" /></div>
        <div class="marketing_case_right mar_right">
        <div class="marketing_box clear_float">
                <div class="marketing_case_tit"><h2>榮譽推廣中</h2></div>
                <div class="marketing_case_name">《小偷兒》 </div>
                <div class="marketing_case_about">
                    <ul>
                        <li><span>類型：</span> 微電影</li>
                        <li><span>上線：</span> 2013年9月1日</li>
                        <li><span>時長：</span> 32：29</li>
                        <li><span>地區：</span> 香港</li>
                    </ul>
                </div>
            </div>
            
            <div class="marketing_box clear_float">
                <div class="marketing_case_tit marketing_margin"><h2>推廣成果</h2></div>
                <div class="marketing_case_name"></div>
                <div class="marketing_case_results">
                    <ul>
                        <li>● 15個國內外獎項</li>
                        <li>● 38家媒體報導</li>
                        <li>● 百度百科上榜</li>
                        <li>● 全網播放800萬次</li>
                        <li>● 4家電視台展映</li>
                        <li>● 營收：10-15萬</li>
                        <li>● 22家網站強力推薦</li>
                        <li>● 豆瓣電影上榜</li>
                    </ul>
                </div>
            </div>
            
            <div class="marketing_box">
                <div class="marketing_case_tit marketing_margin"><h2>主創團隊</h2></div>
                <div class="marketing_case_name"></div>
                <div class="marketing_case_team">
                    <ul>
                        <li><img src="<%= asset_path('dy.jpg') %>" /><br />導演：朱思溢</li>
                        <li><img src="<%= asset_path('jz.jpg') %>" /><br />監製：徐鴻</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="who">
<div class="who">
    <div class="who_tit"><h2>我們是誰？ </h2></div>
        <div class="who_con">
        我們是新媒體影視營銷平台，我們做兩件事情：<span>推廣影視作品</span> <span>推廣原創者</span>
        </div>
    </div>
</div>


<div id="what">
<div class="what">
    <div class="what_tit"><h2>我們做什麼？ </h2></div>
        <div class="what_con">
        <ul>
            <li><img src="<%= asset_path('what_1.jpg') %>" /><br />如果<span>你</span>拍了一部短片</li>
                <li><img src="<%= asset_path('what_2.jpg') %>" /><br />如果<span>你</span>拍了一部MV</li>
                <li><img src="<%= asset_path('what_3.jpg') %>" /><br />如果<span>你</span>拍了一個搞笑視頻</li>
                <li><img src="<%= asset_path('what_4.jpg') %>" /><br />如果<span>你</span>拍了一部網絡劇</li>
                <li><img src="<%= asset_path('what_5.jpg') %>" /><br />如果<span>你</span>拍了一部欄目劇</li>
            </ul>
        </div>
    </div>
</div>

<div id="icon" class="clear_float">
<div class="icon">
    <div class="icon_tit"><span>營收</span></div>
        <div class="icon_con">
        <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">視頻網站</div>
                <div class="icon_con_box_info">各大視頻網站購買播放版權或者通過點擊分成計劃獲得利益。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_1.jpg') %>" /><img src="<%= asset_path('i_2.jpg') %>" /> <img src="<%= asset_path('i_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">移動客戶端</div>
                <div class="icon_con_box_info">各類手機播放器客戶端、通信商手機客戶端流量分成計劃。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_4.jpg') %>" /><img src="<%= asset_path('i_5.jpg') %>" /> </div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">新媒體終端</div>
                <div class="icon_con_box_info">車載電視，電視智能係統等新媒體播出管道。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_6.jpg') %>" /><img src="<%= asset_path('i_7.jpg') %>" /> </div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">電視台</div>
                <div class="icon_con_box_info">亞洲地區各電視台欄目播出管道。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_8.jpg') %>" /><img src="<%= asset_path('i_9.jpg') %>" /> </div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">YOUTUBE</div>
                <div class="icon_con_box_info">Youtube有成熟的點擊分成模式，​​為原創者提供作品保護和營收。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_10.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">國內外電影公司</div>
                <div class="icon_con_box_info">部分電影公司會收購高質量影片的版權。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_11.jpg') %>" /><img src="<%= asset_path('i_12.jpg') %>" /> </div>
            </div>
        </div>
    </div>
</div>

<div id="icon" class="clear_float">
<div class="icon">
    <div class="icon_tit"><span>效應</span></div>
        <div class="icon_con">
        <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">視頻網站推薦</div>
                <div class="icon_con_box_info">各大視頻網站在不同展播位置推薦影片。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_1.jpg') %>" /><img src="<%= asset_path('i_2.jpg') %>" /> <img src="<%= asset_path('i_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">SNS平台轉發</div>
                <div class="icon_con_box_info">大眾社交媒體人氣賬號推薦並且轉發影片。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_1.jpg') %>" /><img src="<%= asset_path('x_2.jpg') %>" /> <img src="<%= asset_path('x_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">新媒體門戶網站推薦</div>
                <div class="icon_con_box_info">影視相關的門戶網站對影片進行點評和推薦。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_4.jpg') %>" /><img src="<%= asset_path('x_5.jpg') %>" /> </div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">媒體報導</div>
                <div class="icon_con_box_info">就作品內容或者成就等新聞點進行報導。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_6.jpg') %>" /><img src="<%= asset_path('x_7.jpg') %>" /> <img src="<%= asset_path('x_8.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            <div class="icon_con_box_tit">線下活動</div>
                <div class="icon_con_box_info">定期邀請參加行內交流會或觀影會等活動。 </div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_9.jpg') %>" /></div>
            </div>
             <div class="icon_con_box mar_left">
            </div>
            
        </div>
    </div>
</div>

<div id="join">
<div class="join">
    <div class="join_tit">如果你是優秀的內容提供者或者團隊</div>
        <div class="join_info">你需要的則是機會<font style="font-size:35px;">機會</font> <font style="font-size:45px;">機會</font> </div>
        <div class="join_jh">
        <div><span>一個被投資的機會</span> <span>一個再​​次創作的機會</span></div>
            <p></p>
            <div><span>一個走向強大的機會</span></div>
        </div>
    </div>
</div>

<div id="go">
<div class="go_box clear_float">
    <ul>
        <li class="go_boxa"><img src="<%= asset_path('g_1.jpg') %>" /><br />大師指點</li>
            <li class="go_boxb"><img src="<%= asset_path('g_2.jpg') %>" /><br />影視項目匹配</li>
            <li class="go_boxc"><img src="<%= asset_path('g_3.jpg') %>" /><br />線下行業交流會</li>
            <li class="go_boxd"><img src="<%= asset_path('g_4.jpg') %>" /><br />國內外百科上榜</li>
        </ul>
    </div>
    <div class="go_boxa clear_float">
    <ul>
        <li><img src="<%= asset_path('g_5.jpg') %>" /><br />國內外電影節推送</li>
            <li><img src="<%= asset_path('g_6.jpg') %>" /><br />扶持基金推薦</li>
            <li><img src="<%= asset_path('g_7.jpg') %>" /><br />技能培訓</li>
            <li><img src="<%= asset_path('g_8.jpg') %>" /><br />媒體專訪</li>
            <li><img src="<%= asset_path('g_9.jpg') %>" /><br />專欄撰稿</li>
        </ul>
    </div>
    <div class="go_line"></div>
    <div class="go_about">
    <h2>我們=高回報+機會</h2>
     <h3>還在等什麼?</h3>
     </div>
     <div class="go_btn"><a data-toggle="modal"
                      data-target="#promote-modal"
                      data-backdrop="static"
                      data-keyboard="false">開始推廣</a></div>
</div>

<div id="contact">
<div class="contact">
  <div class="contact_ipnut">
        <div class="contact_ipnut_tit">聯繫我們</div>
            <div class="contact_ipnut_about">如果您想我們為您的作品量身打造推廣方案</div>
      <div class="go_line"></div>
        <%= form_for :contact, :url => { :action => :contact }, :html => {:id => "contact-form"} do |f|%>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td>稱呼：</td>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td>職務：</td>
                <td><%= f.text_field :position %></td>
              </tr>
              <tr>
                <td>郵箱：</td>
                <td><%= f.text_field :email %></td>
              </tr>
              <tr>
                <td>手機：</td>
                <td><%= f.text_field :mobile %></td>
              </tr>
              <tr>
                <td>作品：</td>
                <td><%= f.text_area :work, {:class => "textarea"} %></td>
              </tr>
            </table>
            <div class="go_line"></div>
            <div class="go_btnb"><a href="" onclick="$('form#contact-form').submit();">點擊提交</a></div>
		<% end %>
      </div>
    </div>
</div>
</body>
</html>