<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>普魔客</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body class="theme-m">
<div id="marketing_banner">
	<div class="marketing_banner"><div class="go_btna"><a data-toggle="modal" 
                      data-target="#promote-modal"
                      data-backdrop="static"
                      data-keyboard="false">开始推广</a></div></div>
</div>
<div id="marketing_case">
	<div class="marketing_case clear_float">
        <div class="marketing_case_left mar_left"><img src="<%= asset_path('marketing_img.jpg') %>" /></div>
        <div class="marketing_case_right mar_right">
        	<div class="marketing_box clear_float">
                <div class="marketing_case_tit"><h2>荣誉推广中</h2></div>
                <div class="marketing_case_name">《小偷儿》 </div>
                <div class="marketing_case_about">
                    <ul>
                        <li><span>类型：</span> 微电影</li>
                        <li><span>上线：</span> 2013年9月1日</li>
                        <li><span>时长：</span> 32：29</li>
                        <li><span>地区：</span> 香港</li>
                    </ul>
                </div>
            </div>
            
            <div class="marketing_box clear_float">
                <div class="marketing_case_tit marketing_margin"><h2>推广成果</h2></div>
                <div class="marketing_case_name"></div>
                <div class="marketing_case_results">
                    <ul>
                        <li>● 15个国内外奖项</li>
                        <li>● 38家媒体报导</li>
                        <li>● 百度百科上榜</li>
                        <li>● 全网播放800万次</li>
                        <li>● 4家电视台展映</li>
                        <li>● 营收：10-15万</li>
                        <li>● 22家网站强力推荐</li>
                        <li>● 豆瓣电影上榜</li>
                    </ul>
                </div>
            </div>
            
            <div class="marketing_box">
                <div class="marketing_case_tit marketing_margin"><h2>主创团队</h2></div>
                <div class="marketing_case_name"></div>
                <div class="marketing_case_team">
                    <ul>
                        <li><img src="<%= asset_path('dy.jpg') %>" /><br />导演：朱思溢</li>
                        <li><img src="<%= asset_path('jz.jpg') %>" /><br />监制：徐鸿</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="who">
	<div class="who">
    	<div class="who_tit"><h2>我们是谁？</h2></div>
        <div class="who_con">
        	我们是新媒体影视营销平台，我们做两件事情：<span>推广影视作品</span> <span>推广原创者</span>
        </div>
    </div>
</div>


<div id="what">
	<div class="what">
    	<div class="what_tit"><h2>我们做什么？</h2></div>
        <div class="what_con">
        	<ul>
            	<li><img src="<%= asset_path('what_1.jpg') %>" /><br />如果<span>你</span>拍了一部短片</li>
                <li><img src="<%= asset_path('what_2.jpg') %>" /><br />如果<span>你</span>拍了一部MV</li>
                <li><img src="<%= asset_path('what_3.jpg') %>" /><br />如果<span>你</span>拍了一個搞笑视频</li>
                <li><img src="<%= asset_path('what_4.jpg') %>" /><br />如果<span>你</span>拍了一部网络剧</li>
                <li><img src="<%= asset_path('what_5.jpg') %>" /><br />如果<span>你</span>拍了一部栏目剧</li>
            </ul>
        </div>
    </div>
</div>

<div id="icon" class="clear_float">
	<div class="icon">
    	<div class="icon_tit"><span>营收</span></div>
        <div class="icon_con">
        	<div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">视频网站</div>
                <div class="icon_con_box_info">各大视频网站购买播放版权或者通过点击分成计划获得利益。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_1.jpg') %>" /><img src="<%= asset_path('i_2.jpg') %>" /><img src="<%= asset_path('i_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">移动客户端</div>
                <div class="icon_con_box_info">各类手机播放器客户端、通信商手机客户端流量分成计划。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_4.jpg') %>" /><img src="<%= asset_path('i_5.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">新媒体终端</div>
                <div class="icon_con_box_info">车载电视，电视智能系统等新媒体播出管道。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_6.jpg') %>" /><img src="<%= asset_path('i_7.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">电视台</div>
                <div class="icon_con_box_info">亚洲地区各电视台栏目播出管道。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_8.jpg') %>" /><img src="<%= asset_path('i_9.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">YOUTUBE</div>
                <div class="icon_con_box_info">Youtube有成熟的点击分成模式，为原创者提供作品保护和营收。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_10.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">国内外电影公司</div>
                <div class="icon_con_box_info">部分电影公司会收购高质量影片的版权。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_11.jpg') %>" /><img src="<%= asset_path('i_12.jpg') %>" /></div>
            </div>
        </div>
    </div>
</div>

<div id="icon" class="clear_float">
	<div class="icon">
    	<div class="icon_tit"><span>效应</span></div>
        <div class="icon_con">
        	<div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">视频网站推荐</div>
                <div class="icon_con_box_info">各大视频网站在不同展播位置推荐影片。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('i_1.jpg') %>" /><img src="<%= asset_path('i_2.jpg') %>" /><img src="<%= asset_path('i_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">SNS平台转发</div>
                <div class="icon_con_box_info">大众社交媒体人气账号推荐并且转发影片。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_1.jpg') %>" /><img src="<%= asset_path('x_2.jpg') %>" /><img src="<%= asset_path('x_3.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">新媒体门户网站推荐</div>
                <div class="icon_con_box_info">影视相关的门户网站对影片进行点评和推荐。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_4.jpg') %>" /><img src="<%= asset_path('x_5.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">媒体报导</div>
                <div class="icon_con_box_info">就作品内容或者成就等新闻点进行报导。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_6.jpg') %>" /><img src="<%= asset_path('x_7.jpg') %>" /><img src="<%= asset_path('x_8.jpg') %>" /></div>
            </div>
            <div class="icon_con_box mar_left">
            	<div class="icon_con_box_tit">线下活动</div>
                <div class="icon_con_box_info">定期邀请参加行内交流会或观影会等活动。</div>
                <div class="icon_con_box_img"><img src="<%= asset_path('x_9.jpg') %>" /></div>
            </div>
             <div class="icon_con_box mar_left">
            </div>
            
        </div>
    </div>
</div>

<div id="join">
	<div class="join">
    	<div class="join_tit">如果你是优秀的内容提供者或者团队</div>
        <div class="join_info">你需要的则是机会 <font style="font-size:35px;">机会</font> <font style="font-size:45px;">机会</font></div>
        <div class="join_jh">
        	<div><span>一个被投资的机会</span> <span>一个再次创作的机会</span></div>
            <p></p>
            <div><span>一个走向强大的机会</span></div>
        </div>
    </div>
</div>

<div id="go">
	<div class="go_box clear_float">
    	<ul>
        	<li class="go_boxa"><img src="<%= asset_path('g_1.jpg') %>" /><br />大师指点</li>
            <li class="go_boxb"><img src="<%= asset_path('g_2.jpg') %>" /><br />影视项目匹配</li>
            <li class="go_boxc"><img src="<%= asset_path('g_3.jpg') %>" /><br />线下行业交流会</li>
            <li class="go_boxd"><img src="<%= asset_path('g_4.jpg') %>" /><br />国内外百科上榜</li>
        </ul>
    </div>
    <div class="go_boxa clear_float">
    	<ul>
        	<li><img src="<%= asset_path('g_5.jpg') %>" /><br />国内外电影节推送</li>
            <li><img src="<%= asset_path('g_6.jpg') %>" /><br />扶持基金推荐</li>
            <li><img src="<%= asset_path('g_7.jpg') %>" /><br />技能培训</li>
            <li><img src="<%= asset_path('g_8.jpg') %>" /><br />媒体专访</li>
            <li><img src="<%= asset_path('g_9.jpg') %>" /><br />专栏撰稿</li>
        </ul>
    </div>
    <div class="go_line"></div>
    <div class="go_about">
    	<h2>我们=高回报+机会</h2>
     	<h3>还在等什么?</h3>
     </div>
     <div class="go_btn"><a data-toggle="modal" 
                      data-target="#promote-modal"
                      data-backdrop="static"
                      data-keyboard="false">开始推广</a></div>
</div>

<div id="contact">
	<div class="contact">
  <div class="contact_ipnut">
        	<div class="contact_ipnut_tit">联系我们</div>
            <div class="contact_ipnut_about">如果您想我们为您的作品量身打造推广方案</div>
      	<div class="go_line"></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td>称呼：</td>
            <td><input name="" type="text" /></td>
          </tr>
          <tr>
            <td>职务：</td>
            <td><input name="" type="text" /></td>
          </tr>
          <tr>
            <td>邮箱：</td>
            <td><input name="" type="text" /></td>
          </tr>
          <tr>
            <td>手机：</td>
            <td><input name="" type="text" /></td>
          </tr>
          <tr>
            <td>作品：</td>
            <td><textarea name="" cols="" rows="" class="textarea"></textarea></td>
          </tr>
        </table>
        <div class="go_line"></div>
        <div class="go_btnb"><a href="#">点击提交</a></div>
      </div>
    </div>
</div>
</body>
</html>
