<!DOCTYPE html>
<html>
<head>
  <meta property="wb:webmaster" content="6baf5a987f1f7694" />
  <title><%= t('promoker') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style>
  	div#welcome {
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    overflow: hidden;
	}
	#welcome .welcome-bg img {
	    position: absolute;
		right: 0px;
		width: 100%;
		z-index: -1;
		/*top: -240px;*/
	}
	div.welcome-avatar {
	    display: inline-block;
	}
	div.welcome-wrapper {
	    position: relative;
		width: 680px;
		padding: 10px;
		margin: 0px auto;
		top: 40%;
		font-weight: bold;
	}
	div.welcome-text {
	    display: inline-block;
	    vertical-align: top;
	    width: 200px;
	    margin-left: 10px;
	}
	div.welcome-author {
	    float: right;
	    position: relative;
	    right: 20px;
	}
	.welcome-avatar img {
    	width: 120px;
    	height: 120px;
    	border-radius: 50%;
	}

	@font-face {
	    font-family: 'weather';
	    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot');
	    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
	         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.woff') format('woff'),
	         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.ttf') format('truetype'),
	         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	#weather {
	  	position: relative;
		display: inline-block;
		vertical-align: top;
		width: 300px;
		top: -20px;
		left: 20px;
	}

	#weather i {
	  	color: #FFF;
		font-family: weather;
		font-size: 100px;
		font-weight: normal;
		font-style: normal;
		line-height: 1.0;
	}

	.icon-0:before { content: ":"; }
	.icon-1:before { content: "p"; }
	.icon-2:before { content: "S"; }
	.icon-3:before { content: "Q"; }
	.icon-4:before { content: "S"; }
	.icon-5:before { content: "W"; }
	.icon-6:before { content: "W"; }
	.icon-7:before { content: "W"; }
	.icon-8:before { content: "W"; }
	.icon-9:before { content: "I"; }
	.icon-10:before { content: "W"; }
	.icon-11:before { content: "I"; }
	.icon-12:before { content: "I"; }
	.icon-13:before { content: "I"; }
	.icon-14:before { content: "I"; }
	.icon-15:before { content: "W"; }
	.icon-16:before { content: "I"; }
	.icon-17:before { content: "W"; }
	.icon-18:before { content: "U"; }
	.icon-19:before { content: "Z"; }
	.icon-20:before { content: "Z"; }
	.icon-21:before { content: "Z"; }
	.icon-22:before { content: "Z"; }
	.icon-23:before { content: "Z"; }
	.icon-24:before { content: "E"; }
	.icon-25:before { content: "E"; }
	.icon-26:before { content: "3"; }
	.icon-27:before { content: "a"; }
	.icon-28:before { content: "A"; }
	.icon-29:before { content: "a"; }
	.icon-30:before { content: "A"; }
	.icon-31:before { content: "6"; }
	.icon-32:before { content: "1"; }
	.icon-33:before { content: "6"; }
	.icon-34:before { content: "1"; }
	.icon-35:before { content: "W"; }
	.icon-36:before { content: "1"; }
	.icon-37:before { content: "S"; }
	.icon-38:before { content: "S"; }
	.icon-39:before { content: "S"; }
	.icon-40:before { content: "M"; }
	.icon-41:before { content: "W"; }
	.icon-42:before { content: "I"; }
	.icon-43:before { content: "W"; }
	.icon-44:before { content: "a"; }
	.icon-45:before { content: "S"; }
	.icon-46:before { content: "U"; }
	.icon-47:before { content: "S"; }

	#weather h2 {
	  margin: 0 0 8px;
	  color: #fff;
	  font-size: 40px;
	  font-weight: 300;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}

	#weather ul {
	  margin: 0;
	  padding: 0;
	}

	#weather li {
	  background: #fff;
	  background: rgba(255,255,255,0.90);
	  padding: 20px;
	  display: inline-block;
	  border-radius: 5px;
	}

	#weather .currently {
	  margin: 0 20px;
	}
	div#logo {
		position: absolute;
		top: -350px;
		left: 10%;
		z-index: -1;
	}

	a.blink {
		color: #E62E4C;
	}

	#logo img {
    	width: 550px;
	}

	div.welcome-text-wrapper {
	    background: rgba(255, 255, 255, 0.6);
	    position: absolute;
	    padding-left: 100px;
	    top: 10px;
	    z-index: -1;
	    left: 28px;
	    color: #444;
	    padding-top: 10px;
	    height: 100px;
	    padding-right: 10px;
	    font-size: 13px;
	}
	div.author-wrapper {
	    position: relative;
	    display: inline-block;
	    width: 320px;
	}

	#weather h2.region {
		font-size: 30px;
	}

	div.welcome-blurb {
		color: #FFF;
		font-size: 22px;
		width: 220px;
		margin: 0px auto;
		top: -40px;
		position: relative;
	}
	div.welcome-start {
	    width: 150px;
	    margin: 0px auto;
	}
	div.welcome-start a.btn.btn-danger.btn-lg {
	    width: 150px;
	}


  </style>
  <script>
  	$(function(){
  		$.getJSON('http://freegeoip.net/json/', function(location) {
  		// $.getJSON('http://api.hostip.info/get_json.php', function(location){
	        $.simpleWeather({
	            location: location.latitude + ',' + location.longitude,
	            woeid: '',
	            unit: 'c',
	            success: function(weather) {
	              html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
	              // html += '<img src="' + weather.image + '">';
	              // $("#weather").html(html);
	              if(weather.country == 'Hong Kong'){
	              	html += '<h2 class="region">' + weather.country + '</h2>';	
	              }else{
	              	html += '<h2 class="region">' + weather.city + ', ' + weather.country + '</h2>';	
	              }
	              $("#weather").html(html);
	            },
	            error: function(error) {
	              $("#weather").html('<p>'+error+'</p>');
	            }
	          });
		    });
	    setInterval(function(){
	        $('#logo a').toggleClass('blink')
	    }, 1000)
  	})
  </script>
</head>
<body>
	<div id="welcome">
		
		<div class="welcome-bg">
			<img src="<%= @siteConfig['welcome_bg'] %>" alt="">
		</div>
		<div class="welcome-wrapper">
			<div id="logo">
				<img src="<%= asset_path('logo_welcome_page.png') %>" alt="">
			</div>
			<div class="welcome-blurb"><%= t('welcome.blurb') %></div>
			<div class="author-wrapper">
				<div class="welcome-avatar">
					<img src="<%= @siteConfig['welcome_avatar'] %>">
				</div>
				<div class="welcome-text-wrapper">
					<div class="welcome-text">
						<%= @siteConfig['welcome_text'] %>
					</div>	
					<div class="welcome-author">
						<%= @siteConfig['welcome_author'] %>
					</div>	
				</div>
			</div>
			<div id="weather"></div>
			<div class='welcome-start'>
				<a href="/home" class="btn btn-danger btn-lg">Enter</a>
			</div>
		</div>
	</div>
</body>
</html>