<!DOCTYPE html>
<html>
<head>
  <meta property="wb:webmaster" content="6baf5a987f1f7694" />
  <title><%= t('promoker') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
  	$(function(){
  		$.getJSON('http://www.telize.com/geoip?callback=?', function(location) {
  		// $.getJSON('http://api.hostip.info/get_json.php', function(location){
	        $.simpleWeather({
	            location: location.latitude + ',' + location.longitude,
	            woeid: '',
	            unit: 'c',
	            success: function(weather) {
	              html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
	              // html += '<img src="' + weather.image + '">';
	              // $("#weather").html(html);
	              if(weather.country == 'Hong Kong'){
	              	html += '<h2 class="region">' + weather.country + '</h2>';	
	              }else{
	              	html += '<h2 class="region">' + weather.city + ', ' + weather.country + '</h2>';	
	              }
	              $("#weather").html(html);
	            },
	            error: function(error) {
	              $("#weather").html('<p>'+error+'</p>');
	            }
	          });
		    });
	    setInterval(function(){
	        $('#logo a').toggleClass('blink')
	    }, 1000)
  	})
  </script>
</head>
<body>
	<div id="welcome">
		
		<div class="welcome-bg">
			<img src="<%= @siteConfig['welcome_bg'] %>" alt="">
		</div>
		<div class="welcome-wrapper">
			<div id="logo">
				<img src="<%= asset_path('logo_welcome_page.png') %>" alt="">
			</div>
			<div class="welcome-blurb"><%= t('welcome.blurb') %></div>
			<div class="author-wrapper">
				<div class="welcome-avatar">
					<img src="<%= @siteConfig['welcome_avatar'] %>">
				</div>
				<div class="welcome-text-wrapper">
					<div class="welcome-text">
						<%= @siteConfig['welcome_text'] %>
					</div>	
					<div class="welcome-author">
						<%= @siteConfig['welcome_author'] %>
					</div>	
				</div>
			</div>
			<div id="weather"></div>
			<div class='welcome-start'>
				<a href="/home" class="btn btn-danger btn-lg">Enter</a>
			</div>
		</div>
	</div>
</body>
</html>