<script>
  $(function(){
    var params = {}
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    if(getParameterByName('location')){
      params['location'] = getParameterByName('location')
    }
    if(getParameterByName('type')){
      params['type'] = getParameterByName('type')
    }
    if(getParameterByName('status')){
      params['status'] = getParameterByName('status')
    }
      
    for (key in params){
      $('a[data-filter="'+ key + '"]').removeClass('active')
      $('a[data-filter="'+ key + '"]').each(function(){
        if($(this).data('name') == params[key]){
          $(this).addClass('active')  
        }
      })
    }

    $('a.filter-item').click(function(e){
      e.preventDefault()
      e.stopPropagation()
      var filter = $(this).data('filter')
      var value = $(this).data('name')
      if(value){
        params[filter] = value  
      }else{
        delete params[filter]
      }
      if(Object.keys(params).length === 0){
        window.location.href = "http://" + location.host + '/events'
      }else{
        window.location.href = "http://" + location.host + '/events?' + $.param(params)  
      }
    })
  })
</script>
<div class="events-wrapper">
	<div class="articles-header">
    	<h2><%= t('events.event') %></h2>
  	</div>
  	<div class="filters-container">
  		<div class="ribbon"></div>
	    <div class="filters">
		    <div class="filter-header">
		        <h2><%= t('events.filter.area') %></h2>
		    </div>
		    <div class="filter-wrapper">
		        <a href="#" class="filter-item active" data-filter="location"><%= t('events.filter.all') %></a>
		      <% @locations.each do |location|%>
		        <a href="#" class="filter-item" data-filter="location" data-name="<%= location %>"><%= location %></a>
		      <% end %>
		    </div>
		</div>
	    <div class="filters">
		    <div class="filter-header">
		     <h2><%= t('events.filter.type') %></h2>
		    </div>
	      	<div class="filter-wrapper">
		        <a href="#" class="filter-item active" data-filter="type" data-name=""><%= t('events.filter.all') %></a>
		        <% @types.each do |type|%>
		            <a href="#" class="filter-item" data-filter="type" data-name="<%= type %>"><%= type %></a>
		        <% end %>
	     	</div>
	    </div>
	    <div class="filters">
		    <div class="filter-header">
		     <h2><%= t('events.filter.status') %></h2>
		    </div>
	      	<div class="filter-wrapper">
		        <a href="#" class="filter-item active" data-filter="status" data-name=""><%= t('events.filter.all') %></a>
		            <a href="#" class="filter-item" data-filter="status" data-name="enroll"><%= t('events.status.enroll') %></a>
		            <a href="#" class="filter-item" data-filter="status" data-name="underway"><%= t('events.status.underway') %></a>
		            <a href="#" class="filter-item" data-filter="status" data-name="finished"><%= t('events.status.finished') %></a>
	     	</div>
	    </div>
	</div>
	<div class="events-container">
		<ul class="events">
			<% @events.each do |event| %>
			<li class="event-item">
				<div class="event-thumb">
					<a href="<%= event_path(event) %>">
						<%= image_tag event.thumb %>
					</a>
				</div>
				<div class="event-info">
					
					<div class="event-title">
						<% case event.status
						when 'enroll'
							style = 'warning' 
						when 'underway'
							style = 'info' 
						when 'finished'
							style = 'default' 
						else
							style = 'default' 
						end %>
						<span class="label label-<%= style %>">
							<%= t('events.status.'+event.status) %>
						</span>
						<%= link_to event.title, event_path(event) %>
					</div>
					<div class="event-date">
						<span><i class="fa fa-clock-o"></i> </span><%= event.start_time.strftime("%m#{t('month')}%d#{t('date')}") %> ~ <%= event.end_time.strftime("%m#{t('month')}%d#{t('date')}") %>
					</div>
					<div class="event-address">
						<span><i class="fa fa-map-marker"></i> </span><%= event.address %>
					</div>
					<div class="event-likes">
						<i class="fa fa-heart"></i>
						<b><%= event.likes.count %></b> <%= t('events.like_count') %>
					</div>
					<div class="event-likers">
						
					</div>
				</div>
			</li>
			<% end %>
		</ul>
		<%= paginate @events %>
	</div>
</div>