<%= stylesheet_link_tag 'application' %>
<div class="home-ticket-wrapper">
	<div class="home-ticket-info">
		<div class="home-ticket-title"><%= @ticket.title %> <span class="home-ticket-date"><%= t('tickets.date') %>: <%= @ticket.updated_at.strftime('%m-%d') %></span></div>
		<div class="home-ticket-location">
			<i class="fa fa-map-marker"></i> <%= @ticket.location %>
		</div>
		<div class="home-ticket-needs">
			<b><%= t('tickets.needs') %>:</b>
			<% @ticket.need_list.each do |need| %>
				<span class="label label-info"> <%= need %></span>
			<% end %>
		</div>
		<div class="home-ticket-contact">
			<b><%= t('tickets.contact') %>:</b>
			<%= @ticket.contact %>
		</div>
	</div>
	<%= render 'users/profile' %>
</div>