<%= form_for @project, :html => { :class => 'form-horizontal edit-project' } do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :status, :value => 'draft' %>
<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_cover') %></label>
	<div class="col-sm-5">
  		<%= f.file_field :cover%>
  		 <%= f.hidden_field :cover_cache %>
	</div>
</div>
<div class="form-group">
	<%= f.label :title, t('projects.project_title'), :class => 'col-sm-2 control-label' %>
	<div class="col-sm-5">
  		<%= f.text_field :title, :placeholder => t('projects.project_cover'), :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :start_at, t('projects.start_at'), :class => 'col-sm-2 control-label' %>
	<div class="col-sm-5">
  		<%= f.date_field :start_at%>
	</div>
</div>

<div class="form-group">
	<%= f.label :movie_type, t('projects.project_type'), :class => 'col-sm-2 control-label' %>
	<div class="col-sm-5">
  		<%= f.select :movie_type, @types, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<%= f.label :needs, t('projects.project_needs'), :class => 'col-sm-2 control-label' %>
	<%= f.hidden_field :needs, :value => @project.need_list %>
	<div class="col-sm-5">
  		<% @needs.each do |need|%>
		<span class="tag <%= 'selected' if @project.need_list.include? need %>"><%= need %></span>
  		<% end %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_location') %></label>
	<div class="col-sm-5">
  		<%= f.region_select [:province, :city], province_prompt: t('projects.select_province'), city_prompt: t('projects.project_city')%>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_duration') %></label>
	<div class="col-sm-5">
  		<%= f.text_field :duration, :class => "form-control" %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_budget') %></label>
	<div class="col-sm-5">
  		<%= f.number_field :budget, :class => "form-control" %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_desc') %></label>
	<div class="col-sm-5">
  		<%= f.text_area :description, :rows => 5, :cols => 20, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects_script') %></label>
	<div class="col-sm-5">
  		<%= f.text_area :script, :rows => 5, :cols => 20, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_team') %></label>
	<div class="col-sm-5">
  		<%= f.text_area :team, :rows => 5, :cols => 20, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_plan') %></label>
	<div class="col-sm-5">
  		<%= f.text_area :plan, :rows => 5, :cols => 20, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_expense') %></label>
	<div class="col-sm-5">
  		<%= f.text_area :expense, :rows => 5, :cols => 20, :class => 'form-control' %>
	</div>
</div>

<div class="form-group">
	<label for="" class="col-sm-2 control-label"><%= t('projects.project_video') %></label>
	<div class="col-sm-5">
  		<%= f.text_field :video, :class => 'form-control' %>
	</div>
</div>
<div class="project-save">
	<a href="" class='btn submit' id="project-publish"><%= t('projects.project_publish') %></a> 
	<a href="<%= preview_project_path(@project) %>" target="_blank" class='btn preview' id="project-review"><%= t('projects.project_preview') %></a> 
	<a href="" class="btn" id="project-save"><%= t('projects.project_save') %></a>
</div>
<% end %>
<div id="preview">
	<div class="project">
	    <div class="project-card-wrap">
	      	<div class="project-card">
	        	<div class="project-thumbnail">
	          		<a href="#" target="">
	          			<% if @project.cover.blank? %>
	            			<img alt="Photo-little" class="projectphoto-little" height="150" src="<%= asset_path('missing_little.png') %>" width="220">
	            		<% else %>
							<%= image_tag @project.cover, :class => "projectphoto-little" %>
	            		<% end %>
	          		</a>
	        	</div>
	        	<h2 class="bbcard_name">
		          	<strong>
		            	<a href="#" target=""><%= @project.title %></a>
		          	</strong>
		          	<span>
		          	<%= @project.user.nickname unless @project.user.blank? %>
		          	</span>
	        	</h2>
		        <p class="bbcard_blurb">
		          <%= @project.description %>
		        </p>
		        <ul class="project-meta">
		          	<li>
		           	 	<span class="fa fa-map-marker"></span>
		            	<span class="location-name"><%= @project.location %></span>
		          	</li>
		        </ul>
		        <div class="project-pledged-wrap">
		          <div class="project-pledged" style="width: 100%"></div>
		        </div>
		        <ul class="project-stats">
		          <li class="pledged">
		            <strong><span class="money usd no-code"><%= @project.budget %><%= t('home.wan') %></span></strong>
		            <%= t('home.budget') %>
		          </li>
		          <li class="pledged">
		            <strong><span class="money usd no-code"><%= (@project.start_at.to_date - Date.current).to_i unless @project.start_at.blank? %></span></strong>
		            <%= t('home.day_to_film') %>
		          </li>
		        </ul>
	    	</div>
	    </div>
	</div>
</div>