<div class="project-list">
	<% @projects.each do |project| %>
	<div class="project">
		<div class="project-card-wrap">
			<div class="project-card">
				<div class="project-thumbnail">
					<a href="<%= project_path(project) %>" target="_blank">
						<% if project.cover.blank? %>
						<img alt="Photo-little" class="projectphoto-little" height="150" src="https://d297h9he240fqh.cloudfront.net/assets/projects/missing_little.png" width="220">
						<% else %>
						<%= image_tag project.cover, :class => "projectphoto-little" %>
						<% end %>
					</a>
				</div>
				<h2 class="bbcard_name">
					<strong>
						<a href="<%= project_path(project) %>" target=""><%= project.title %></a>
					</strong>
					<span>
						<%= link_to project.user.nickname, user_path(project.user) unless project.user.blank? %>
					</span>
				</h2>
				<p class="bbcard_blurb">
					<%= project.description %>
				</p>
				<ul class="project-meta">
					<li>
						<span class="fa fa-map-marker"></span>
						<span class="location-name"><%= project.location %></span>
					</li>
				</ul>
				<div class="project-needs-wrap">
                  <% project.need_list.take(3).each do |tag| %>
                    <span class="tag">
                      <%= tag %>
                    </span>
                    <% end %>
                </div>
				<div class="project-pledged-wrap">
					<%  elapse = (Date.current - project.published_at.to_date).to_f
                      total = (project.start_at.to_date - project.published_at.to_date).to_f
                      progress = (elapse/total).round(2)*100
                  	%>
                  <div class="project-pledged" style="width: <%= progress %>%"></div>
				</div>
				<ul class="project-stats">
					<li class="pledged">
						<strong><span class="money usd no-code"><%= project.budget %><%= t('home.wan') %></span></strong>
						<%= t('home.budget') %>
					</li>
					<li class="pledged">
						<strong><span class="money usd no-code"><%= (total - elapse).to_i %></span></strong>
						<%= t('home.day_to_film') %>
					</li>
				</ul>
			</div>
		</div>
	</div>		
	<% end %>
</div>