<div class="project-page">
	<div class="project-page-title">
		<h1><%= @project.title %></h1>
		<div class="project-page-user">
			<div class="user-nickname"><%= @project.user.nickname %></div>
			<div class="user-thumb"><%# gravatar_image_tag @project.user.email %></div>
		</div>
	</div>
	<div class="project-page-content">
		<div class="project-page-left">
			<div class="project-page-video">
				<embed src="<%= @project.video %>" allowFullScreen="true" quality="high" width="700" height="500" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
			</div>
			<div class="project-page-description project-page-text">
				<h2><%= t('projects.project_desc') %></h2>
				<div>
					<%= @project.description %>
				</div>
			</div>
			<div class="project-page-script project-page-text">
				<h2><%= t('projects.project_script') %></h2>
				<div><%= raw @project.script %></div>
			</div>
			<div class="project-page-team project-page-text">
				<h2><%= t('projects.project_team') %></h2>
				<div><%= raw @project.team %></div>
			</div>
			<div class="project-page-plan project-page-text">
				<h2><%= t('projects.project_plan') %></h2>
				<div><%= raw @project.plan %></div>
			</div>
			<div class="project-page-expense project-page-text">
				<h2><%= t('projects.project_expense') %></h2>
				<div><%= raw @project.expense %></div>
			</div>
		</div>
		<div class="project-page-right">
			<div class="project-page-basic">
				<h2><%= t('projects.project_summary') %></h2>
				<p><%= t('projects.project_title') %>: <%= @project.title %></p>
				<p><%= t('projects.project_type') %>: <%= @project.movie_type %></p>
				<p><%= t('projects.project_duration') %>: <%= @project.duration %></p>
				<p><%= t('projects.project_start_at') %>: <%= @project.start_at.strftime('%y-%m-%m') %> </p>
				<p><%= t('projects.project_budget') %>: <%= Money.new(@project.budget.to_i, @project.currency).format %></p>
				<p><%= t('projects.project_needs') %>: <%= @project.need_list.join(',') %></p>
			</div>
			<%= render 'users/profile'%>
		</div>

	</div>
</div>