<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td>称呼: </td>
        <td><%= @contact["name"]%></td>
      </tr>
      <tr>
        <td>职务: </td>
        <td><%= @contact["position"]%></td>
      </tr>
      <tr>
        <td>邮箱: </td>
        <td><%= @contact["email"]%></td>
      </tr>
      <tr>
        <td>手机: </td>
        <td><%= @contact["mobile"]%></td>
      </tr>
      <tr>
        <td>作品: </td>
        <td><%= @contact["work"]%></td>
      </tr>
    </table>
  </body>
</html>