<div class="wrapper user-login">
  <div class="login-wrapper">
    <div class="modal-title title"><%= t('promoker') %> <%= t('home.login_modal.register') %></div>
    <div class="login-auth">
      <ul>
        <li class="weibo">
          <a href="#">
            <i class="fa fa-weibo"></i>
          </a>
        </li>
        <li class="facebook">
          <a href="#">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="twitter">
          <a href="#" class="">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li class="google">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
    <%# end %>
    <div class="divider"></div>
    <div id="login">
      <%= form_for(resource, as: resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset class="clearfix">
          <p>
            <span class="fontawesome-user"></span>
            <%= f.email_field :email, :autofocus => true, :placeholder => t('home.login_modal.email') %>
          </p>
          <p>
            <span class="fontawesome-lock"></span>
            <%= f.password_field :password, :placeholder => t('home.login_modal.password'), autocomplete: "off" %>
          </p>
          <p>
              <%= f.check_box :remember_me, {:checked => "checked"}%>
              <span class="remember">记住我</span>
              <%= link_to "忘记密码?", new_password_path(resource_name) %>
              <%= link_to "没收到验证邮件?", new_confirmation_path(resource_name) %>
          </p>
          <p>
            <%= f.submit t('home.login_modal.login') %>
          </p>
        </fieldset>
        <p style="text-align:center;"><a href="<%= new_user_registration_path %>" ><%= t('home.login_modal.register_now') %></a><span class="fa fa-arrow-right"></span></p>
      <% end %>
    </div>
  </div>
</div>