<div class="promotions-wrapper">
	<div class="articles-header">
    	<h2><%= t('promotion.title') %></h2>
  	</div>
	<div class="promotion-box">
		<div class="ribbon"></div>
		<div class="promotions">
			<% @promotions.each do |promotion| %>
			<div class="promotion-item">
				<div class="promotion-user">
					<%= image_tag promotion.user.avatar%>
				</div>
				<div class="promotion-wrapper">
					<div class="promotion-cover">
						<% if promotion.cover.nil? %>
						<%= image_tag asset_path('missing_little.png') %>
						<% else %>
						<%= image_tag promotion.cover %>
						<% end %>
					</div>
					<div class="promotion-info">
						<div class="promotion-title"><%= link_to promotion.title, promotion_path(promotion) %></a></div>
						<ul class="promotion-progress">
						<li class="progress-item  <%= 'active' if promotion.state=="draft" %>">
							<div class="pic">
								<i class="fa fa-edit"></i>
							</div>
							<p><%= t('promotion.draft') %></p>
						</li>
						<li class="progress-item line"></li>
						<li class="progress-item  <%= 'active' if promotion.state=="received" %>">
							<div class="pic">
								<i class="fa fa-user"></i>
							</div>
							<p><%= t('promotion.received') %></p>
						</li>
						<li class="progress-item line"></li>
						<li class="progress-item  <%= 'active' if promotion.state=="promoting" %>">
							<div class="pic">
								<i class="fa fa-bar-chart-o"></i>
							</div>
							<p><%= t('promotion.promoting') %></p>
						</li>		
						<li class="progress-item line"></li>
						<li class="progress-item  <%= 'active' if promotion.state=="complete" %>">
							<div class="pic">
								<i class="fa fa-star"></i>
							</div>
							<%= t('promotion.complete') %>
						</li>
					</ul>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>