<div class="promotions-wrapper">
	<div class="articles-header">
    	<h2><%= t('promotion.title') %></h2>
  	</div>
	<div class="promotion-box">
		<div class="ribbon"></div>
		<div class="promotion-title"><%= @promotion.title %></div>
		<div class="promotion-progress-wrapper">
			<h2><%= t('promotion.progress') %></h2>
			<% if @promotion.state == 'rejected' %>
				<p style="color:red; font-weight: bold; font-size: 16px;"><%= @promotion.reject_reason %> <%= t('promotion.rejected') %></p>
			<% end %>
			<ul class="promotion-progress">
				<li class="progress-item  <%= 'active' if @promotion.state=="draft" %> <%= 'error' if @promotion.state=='rejected' %>">
					<div class="pic">
						<i class="fa fa-edit"></i>
					</div>
					<p><%= t('promotion.draft') %></p>
				</li>
				<li class="progress-item line"></li>
				<li class="progress-item  <%= 'active' if @promotion.state=="received" %>">
					<div class="pic">
						<i class="fa fa-user"></i>
					</div>
					<p><%= t('promotion.received') %></p>
				</li>
				<li class="progress-item line"></li>
				<li class="progress-item  <%= 'active' if @promotion.state=="promoting" %>">
					<div class="pic">
						<i class="fa fa-bar-chart-o"></i>
					</div>
					<p><%= t('promotion.promoting') %></p>
				</li>		
				<li class="progress-item line"></li>
				<li class="progress-item  <%= 'active' if @promotion.state=="complete" %>">
					<div class="pic">
						<i class="fa fa-star"></i>
					</div>
					<%= t('promotion.complete') %>
				</li>
			</ul>
		</div>
		<% unless  @promotion.promotion_records.empty? %>
		<div class="promotion-progress-wrapper">
			<h2><%= t('promotion.detail') %></h2>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th><%= t('promotion.time') %></th>
						<th><%= t('promotion.channel') %></th>
						<th><%= t('promotion.desc') %></th>
						<th><%= t('promotion.screenshot') %></th>
						<th><%= t('promotion.url') %></th>
					</tr>
				</thead>
				<tbody>
					<% @promotion.promotion_records.each do |record| %>
					<tr>
						<td><%= record.promote_time.strftime("%Y-%m-%d %H:%M") %></td>
						<td><%= record.channel %></td>
						<td><%= record.desc %></td>
						<td class="screenshot"><a href="<%= record.screenshot %>" class="fancy"><%= image_tag record.screenshot %></a></td>
						<td><a href="<%= record.url %>" target="_blank"><i class="fa fa-play"></i></a></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>	
		<% if @promotion.state=="draft" %> <%= 'error' if @promotion.state=='rejected' %>
			<iframe height="600" allowTransparency="true" style="width:100%;border:none;overflow:auto;" frameborder="0" src="http://www.mikecrm.com/f.php?t=2cVIG8"></iframe>
		<% end  %>
		<% if @promotion.state=="received" %>
			<iframe height="600" allowTransparency="true" style="width:100%;border:none;overflow:auto;" frameborder="0" src="http://www.mikecrm.com/f.php?t=XgCvNX"></iframe>
		<% end %>
	</div>
</div>