<!DOCTYPE html>
<html>
<head>
  <title><%= t('promoker') %>|Promoker</title>
  <meta property="wb:webmaster" content="6baf5a987f1f7694" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        	<div class="container-fluid">
        		<div class="navbar-header">
        			<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			</button> -->
        			<a href="/home" class="navbar-brand">
                <img src="<%= root_url + '/' + Settings.logo_home %>">
              </a>
        		</div>
        		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        			<ul class="nav navbar-nav">
        				<li class="dropdown">
        					<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('home.nav.share') %><b class="fa fa-angle-down rotate"></b></a>
        					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
        						<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= movies_path %>"><%= t('home.nav.recommend') %></a></li>
        						<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= articles_path %>"><%= t('home.nav.news') %></a></li>
        						<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= events_path %>"><%= t('home.nav.event') %></a></li>
        						<li role="presentation"><a role="menuitem" tabindex="-1" href="<%= events_path %>?type=电影节"><%= t('home.nav.filmfest') %></a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= events_path %>?type='电影节'"><%= t('home.nav.colleage') %></a></li>
        					</ul>
        				</li>
        				<li><a href="<%= projects_path %>"><%= t('home.nav.project') %></a></li>
        				<li><a href="<%= marketing_path %>"><%= t('home.nav.marketing') %></a></li>
        			</ul>
                <!-- <div class="searchbar navbar-left">
                    <input type="text" placeholder="搜作品"/>
                    <i class="fa fa-search"></i>
                </div> -->
                <!-- <ul class="nav navbar-nav navbar-right auth">
                	<li class="social"><a href="#"><i class="fa fa-weibo"></i></a></li>
                	<li class="social"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                </ul> -->

                <ul class="nav navbar-nav navbar-right local">
                  <li class="lang"><%= link_to t('home.nav.simplified'), simplified_path %></a>|<a href="?l=hk"><%= link_to t('home.nav.traditional'), traditional_path %></a></li>
                	<li>
                		<a class="btn btn-primary" 
                    data-toggle="modal" 
                    data-target="#post-modal"
                    data-backdrop="static"
                    data-keyboard="false"><%= t('home.nav.publish') %></a>
                	</li>
                	<li>
                    <% if user_signed_in? %>
                  		<a class="btn btn-primary" 
                      data-toggle="modal" 
                      data-target="#promote-modal"
                      data-backdrop="static"
                      data-keyboard="false"><%= t('home.nav.promote') %></a>
                    <% else %>
                      <a class="btn btn-primary" 
                      data-toggle="modal" 
                      data-target="#login-modal"><%= t('home.nav.promote') %></a>
                    <% end %>
                	</li>
                  <% if user_signed_in? %>
                    <li>
                      <div class="account pull-right dropdown">
                        <a href="<%= messages_path %>">
                          <% if Message.unread(current_user).count != 0 %>
                            <span id="user_messages_count" class="badge badge-error"><%= Message.unread(current_user).count %></span>
                          <% end %>
                        </a>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <div class="profile">
                            <% if current_user.avatar %>
                              <img src="<%= current_user.avatar %>" alt=""/>
                            <% else %>
                              <%= image_tag @user.avatar %>
                            <% end %>
                            <span><i class="fa fa-caret-down"></i></span>
                          </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                          <li role="presentation"><a href="<%= user_path(current_user) %>"><i class="fa fa-home"></i><%= t('home.nav.account.home_page') %></a></li>
                          <!--<li role="presentation"><a href="#"><i class="fa fa-signal"></i>关注动态</a></li>-->
                          <!--<li role="presentation"><a href="#"><i class="fa fa-bell"></i>我的消息</a></li>-->
                          <li role="presentation"><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-gear "></i><%= t('home.nav.account.settings') %></a></li>
                          <li role="presentation"><a href="<%= messages_path %>">
                            <% if Message.unread(current_user).count != 0%>
                            <i class="fa fa-envelope "></i><%= t('home.nav.account.messages') %> 
                            <span>(<%= Message.unread(current_user).count %>)</span>
                            <% else %>
                            <i class="fa fa-envelope "></i><%= t('home.nav.account.messages') %> 
                            <% end %>
                          </a>
                        </li>
                          <li class="divider"></li>
                          <li role="presentation">
                            <%= link_to destroy_user_session_path, method: :delete do %>
                              <i class="fa fa-power-off"></i><%= t('home.nav.account.logout') %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </li>
                  <% else %>
                	<li><a href="#" id="register-modal-link"><%= t('home.nav.register') %></a></li>
                	<li class="vdivider"></li>
                	<li><a href="#" id="login-modal-link"><%= t('home.nav.login') %></a></li>
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>
  <div class="flash">
    <% flash.each do |key, value| %>
      <% unless key == 'notice' %>
      <div class="alert <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><%= value %></div>
      </div>
      <% end %>
    <% end %>
  </div>
    <div class="breadcrumb"></div>
    <%= yield %>

    <div id="post-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-title"><%= t('home.post_modal.title') %></div>
          </div>
          <div class="modal-body">
            <div id="post-wrapper">
              <div class="post-project">
                <div class="post-project-desc">
                  <%= t('home.post_modal.ticket_desc') %>
                </div>
                <% if user_signed_in? %>
                  <a href="" class="btn btn-wine" id="ticket-link"><%= t('home.post_modal.ticket') %></a>
                <% else %>
                  <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-wine"><%= t('home.post_modal.ticket') %></a>
                <% end %>
              </div>
              <div class="post-ticket">
                <div class="post-ticket-desc">
                  <%= t('home.post_modal.project_desc') %>
                </div>
                <% if user_signed_in? %>
                  <a href="#" id="project-link" class="btn btn-wine"><%= t('home.post_modal.project') %></a>
                <% else %>
                  <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-wine"><%= t('home.post_modal.project') %></a>
                <% end %>  
              </div>
            </div>
            <div id="project-wrapper" style="display:none;">
              <%= form_for Project.new, :html => {:class => 'form-horizontal'} do |f|%>
                <div class="form-group">
                  <%= f.label :title, t('home.post_modal.project_title'), :class => 'col-sm-2 control-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :title, :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <a href="#" id="project-back"><< <%= t('home.post_modal.back') %></a>
                    <%= f.submit t('home.post_modal.project_create'), :class => 'btn btn-wine' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div id="ticket-wrapper" style="display:none;">
              <%= form_for Ticket.new, :html => {:class => 'form-horizontal'}  do |f| %>
                <%= f.hidden_field :needs %>
                <div class="form-group">
                  <%= f.label :title, t('home.post_modal.ticket_title'), :class => 'col-sm-2 control-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :title, :placeholder => t('home.post_modal.ticket_title'), :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"><%= t('home.post_modal.ticket_location') %></label>
                  <div class="col-sm-8">
                    <%= f.region_select [:province, :city], province_prompt: t('home.post_modal.select_province'), city_prompt: t('home.post_modal.select_city')%>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"><%= t('home.post_modal.ticket_needs') %></label>
                  <div class="col-sm-8">
                    <% Tag.tags_on('roles').each do |tag| %>
                    <span class="tag">
                      <%= tag %>
                    </span>
                    <% end %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"><%= t('home.post_modal.ticket_contact') %></label>
                  <div class="col-sm-8">
                    <%= f.text_field :contact, :placeholder => t('home.post_modal.ticket_contact_ex'), :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                      <a href="#" id="ticket-back"><< <%= t('home.post_modal.back') %></a>
                      <a href="" class='btn btn-wine submit'><%= t('home.post_modal.post') %></a> 
                    </div>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        </div>
    </div>
    <div id="login-modal" class="modal fade">
      <div class="modal-dialog login-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-title title"><%= t('promoker') %></div>
          </div>
          <div class="modal-body">
            <div class="login-auth">
              <ul>
                <li class="weibo">
                  <a href="<%= user_omniauth_authorize_path(:weibo) %>">
                    <i class="fa fa-weibo"></i>
                  </a>
                </li>
                <li class="facebook">
                  <a href="#">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a href="#" class="">
                    <i class="fa fa-twitter-square"></i>
                  </a>
                </li>
                <li class="google">
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
              </ul>
            </div>
            <%# end %>
            <div class="divider"></div>
            <div id="login">
              <%= form_for :user, :url => session_path(:user), :html => {:id => 'login-form'} do |f| %>
                <fieldset class="clearfix">
                  <p>
                    <%= f.email_field :email, :autofocus => true, :placeholder => t('home.login_modal.email') %>
                  </p>
                  <p>
                    <%= f.password_field :password, :placeholder => t('home.login_modal.password'), autocomplete: "off" %>
                  </p>
                  <p>
                    <%= f.submit t('home.login_modal.login') %>
                  </p>
                </fieldset>
              <% end %>
              <p><%= t('home.login_modal.no_account') %>? <a href="#" id="register-link"><%= t('home.login_modal.register_now') %></a><span class="fontawesome-arrow-right"></span></p>
            </div>
            <div id="register" style="display:none;">
              <%= form_for :user, :url => registration_path(:user), :html => {:id => 'register-form'} do |f| %>
                <fieldset class="clearfix">
                  <p>
                    <%= f.email_field :email, :autofocus => true, :placeholder => t('home.login_modal.email') %>
                  </p>
                  <p>
                    <%= f.text_field :nickname, :placeholder => t('home.login_modal.nickname') %>
                  </p>
                  <p>
                    <%= f.password_field :password, :placeholder => t('home.login_modal.password'), autocomplete: "off" %>
                  </p>
                  <p>
                    <%= f.password_field :password_confirmation, :placeholder => t('home.login_modal.password_confirmation'), autocomplete: "off" %>
                  </p>
                  <p>
                    <%= f.submit t('home.login_modal.register') %>
                  </p>
                </fieldset>
              <% end %>
              <p><a href="#" id="login-link"><< <%= t('home.login_modal.back_login') %></a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="promote-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-title"><%= t('home.promote_modal.title') %></div>
          </div>
          <div class="modal-body">
            <div class="agreement">
              <div>
                <%= t("instruction") %>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, ratione, voluptatibus, saepe cum dolore eum minus impedit veritatis ullam aliquam sunt nisi fugiat sit asperiores in eveniet ex ad a natus suscipit? Itaque, minima, aut, maxime, facere inventore illum dolores facilis odio quidem cum fugit aliquid commodi accusantium ab ex ipsa saepe voluptatum rem cupiditate enim soluta expedita perspiciatis dolorum maiores dolorem velit earum doloribus temporibus odit laboriosam amet officiis sunt in nesciunt eum voluptatem nostrum perferendis! Fugiat, dicta, facilis, deserunt ducimus minima asperiores amet consequatur suscipit eligendi dignissimos nemo blanditiis odio animi vel quod alias sint officiis voluptate omnis debitis? Numquam, tempore, quia, deserunt laudantium inventore sed beatae esse unde eos assumenda praesentium blanditiis possimus sunt quibusdam aperiam eveniet cum odio veritatis? Fugit pariatur error illum. Placeat, sapiente, totam rem itaque ut dolor similique id est cumque facilis nostrum laboriosam delectus asperiores mollitia accusamus labore ullam? Voluptate, doloremque sit quidem hic molestiae itaque id! Consequatur, tempore, expedita, excepturi animi autem reiciendis quasi officia magni dolorem quos inventore unde aperiam molestiae maxime sapiente nulla eum eaque recusandae fuga tenetur incidunt laboriosam nemo possimus numquam culpa neque ab perferendis nam eius illum. Ipsum, magni voluptatem ad quidem atque quisquam tempora consectetur!</p>
              <div class="agree">
                <span><%= t('agree') %></span><input type="checkbox" id="agree">
              </div>
            </div>
            <%= form_for Promotion.new, :html => {:class => 'form-horizontal',:style => "display:none;" } do |f|%>
                <div class="form-group">
                  <%= f.label :title, t('home.promote_modal.promotion_title'), :class => 'col-sm-2 control-label' %>
                  <div class="col-sm-8">
                    <%= f.text_field :title, :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <%= f.submit t('home.promote_modal.promotion_create'), :class => 'btn btn-wine'%>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
		<div class="tip">Copyright © 2011-2014 &nbsp;&nbsp;
			<a href="/"><%= t('promoker') %></a>
		&nbsp;
			<!-- <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/cn/">
				<img alt="" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/2.5/cn/80x15.png" width="80px" height="15px">
			</a> -->
			<!-- <br><%= t('home.copyright.prefix') %> -->
			<a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/cn/"><%= t('home.copyright.license') %></a><%= t('home.copyright.surfix') %>
			<br>
	<%= t('home.copyright.detail') %>
		</div>
</div>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
  <script type="text/javascript" data-turbolinks-eval=false>
    ROOT_URL = "<%= root_url %>";
    FAYE_SERVER_URL = "<%= Settings.faye_server %>";
    <% if current_user %>
      CURRENT_USER_ACCESS_TOKEN = "<%= current_user.temp_access_token %>";
    <% end %>
    if (FAYE_SERVER_URL) {
      App.initNotificationSubscribe();
    }
  </script>
  <%= yield :scripts %>
</body>
</html>
